<!DOCTYPE html>
<html>
    <head>
    	<title>Maratona News</title>
        <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
    </head>
    
    <body>
        <header>
            <h1>Titulo da Materia</h1>
            <div>
              Pontos, autor, url
            </div>
        </header>
        <main>
            <div>          
                <h3>nome usuario</h3>
                <p>texto do comentário</p>
            </div>
        <hr />
        </main>
    </body>
</html>