<!DOCTYPE html>
<html>
    <head>
    	<title>Maratona News</title>
        <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
    </head>
    
    <body>
        <header>
                   
            <h1>{{article.title}}</h1>
            <div>
              {{article.points}} | {{article.author}} | <a href="{{article.url}}" target="_blank">{{article.url}}</a>
            </div>
        </header>
        <main>
            <div>
                {% autoescape false %}
                    {% for comment in article.children %}
                        <<p><strong>{{comment.author|safe}}</strong></p>
                        <p>{{comment.text|safe}}</p>
                        <p>{{comment.url|safe}}</p>
                        <hr />
                    {% endfor %}
                {% endautoescape %}
            </div>
        <hr />
        </main>
    </body>
</html>
