<!DOCTYPE html>
<html>
    <head>
    	<title>Marathon News</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css"></link> 
    </head>
    
    <body>
        <header>
            <h1>Marathon News</h1>
            <div>
                <span>Order by: </span>
                <a href="/?order_by=popular">Popular</a> |
                <a href="/?order_by=new">New</a>      
            </div>
        </header>
    
        <main>
            <div>
                {% for news in json_req.hits %}

                <div>
                    <a href="{{news.objectID}}">
                        <h3>{{news.title}}</h3>
                    </a>
                    {% if news.url == None %}
                        <span></span>
                    {% else %}
                        <span>(<a href="{{news.url}}" target="_blank">{{news.url}}</a>)</span>
                    {% endif %}
                </div>
                
                <div class="news__info">
                   <p>{{news.points}} Point(s) | By: {{news.author}} | {{news.num_comments}} Comments</p> 
                </div>
                <hr />

                {% endfor %}
            </div>
        </main>
    </body>
</html>